@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>VS 1</h2>
        <a href="https://myazurecache.blob.core.windows.net/test-container/vs1.jpg">
            <img class="img-responsive" src="/remote.axd/myazurecache.blob.core.windows.net/test-container/vs1.jpg?width=750" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>VS 2</h2>
        <a href="https://myazurecache.blob.core.windows.net/test-container/vs2.png">
            <img class="img-responsive" src="/remote.axd/myazurecache.blob.core.windows.net/test-container/vs2.png?width=750&format=jpg" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>VS 3</h2>
        <a href="https://myazurecache.blob.core.windows.net/test-container/vs3.jpg">
            <img class=" img-responsive" src="/remote.axd/myazurecache.blob.core.windows.net/test-container/vs3.jpg?width=750&format=jpg" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>VS 4</h2>
        <a href="https://myazurecache.blob.core.windows.net/test-container/vs4.jpg">
            <img class="img-responsive" src="/remote.axd/myazurecache.blob.core.windows.net/test-container/vs4.jpg?width=750&format=jpg" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>VS 5</h2>
        <a href="https://myazurecache.blob.core.windows.net/test-container/vs5.jpg">
            <img class="img-responsive" src="/remote.axd/myazurecache.blob.core.windows.net/test-container/vs5.jpg?width=750&format=jpg" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>VS 6</h2>
        <a href="https://myazurecache.blob.core.windows.net/test-container/vs6.png">
            <img class="img-responsive" src="/remote.axd/myazurecache.blob.core.windows.net/test-container/vs6.png?width=750&format=jpg" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>VS 7</h2>
        <a href="https://myazurecache.blob.core.windows.net/test-container/vs7.jpg">
            <img class="img-responsive" src="/remote.axd/myazurecache.blob.core.windows.net/test-container/vs7.jpg?width=750&format=jpg" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>VS 8</h2>
        <a href="https://myazurecache.blob.core.windows.net/test-container/vs8.png">
            <img class="img-responsive" src="/remote.axd/myazurecache.blob.core.windows.net/test-container/vs8.png?width=750&format=jpg" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>VS 9</h2>
        <a href="https://myazurecache.blob.core.windows.net/test-container/vs9.png">
            <img class="img-responsive" src="/remote.axd/myazurecache.blob.core.windows.net/test-container/vs9.png?width=750&format=jpg" />
        </a>
    </div>
</div>